html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #ddd;
  	overflow-x: hidden;
}

button {
	text-align: center;
}

.navbar {
  border-radius: 0 !important;
}

.navbar-right {
  margin-right: auto !important;
}

.main-view {
	padding-top: 50px;
	height: 100%;

	background-image: url('logo.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.container {
	background-color: rgba(255, 255, 255, 0.75);
	padding: 20px 50px 50px;
}

input[type="number"] {
	text-align: right;
}

.active {
	background-color: #333;
}

@keyframes left-to-right-slide {
  0% { left: -10%; }
  50% { left: 90%; }
  100% {left: -10%; }
}

.loading {
  overflow: hidden;
  &:after {
	position: absolute;
	height: 2px;
	width: 20%;
	bottom: 0;
	background: linear-gradient(to right, transparent, #393, transparent);
	animation: left-to-right-slide 2.5s infinite;
  }
}

.slide {
  position: relative;
  &.ng-enter {
	transition: all cubic-bezier(0.230, 1.000, 0.320, 1.000) .5s;
	left: 15px;
	opacity: 0;

	&.ng-enter-active {
	  left: 0;
	  opacity: 1;
	}
  }
}