<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Money</title>
	<link rel="stylesheet" href="vendor/vendor.css">
	<link rel="stylesheet" href="app.css">
</head>
<body ng-app="money">
<nav ng-controller="navigation" class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header col-sm-2 col-xs-4">
			<a href="#/home" class="navbar-brand">Money</a>
		</div>
		<ul class="nav navbar-nav">
			<li>
				<a ui-sref="year(params)" ui-sref-active="active" class="nav-link">{{year}}</a>
			</li>
			<li ng-if="month">
				<a ui-sref="month(params)" ui-sref-active="active" class="nav-link">{{niceMonth}}</a>
			</li>
			<li ng-if="day">
				<a ui-sref="day(params)" ui-sref-active="active" class="nav-link">{{day}}</a>
			</li>
			<li>
				<a ui-sref="recurring" ui-sref-active="active" class="nav-link">Recurring</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li dropdown class="dropdown">
				<a dropdown-toggle href="#" class="dropdown-toggle" role="button" aria-haspopup="true">
					<span class="glyphicon glyphicon-cog"></span>
				</a>
				<ul ng-controller="integrations" class="dropdown-menu">
					<li>
						<a ng-click="authenticate()" href="#">
							<span class="glyphicon"
								  ng-class="{'glyphicon-share': !integrations['dropbox'], 'glyphicon-check': integrations['dropbox']}">
							</span>
							Dropbox
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
<div class="main-view" ui-view></div>
<script src="vendor/vendor.js"></script>
<script src="templates.js"></script>
<script src="app.js"></script>
</body>
</html>
