<div class="jumbotron">
	<div class="container">
		<h3>New Transaction</h3>
		<form ng-submit="addTransaction()" class="form-inline add-transaction" role="form">
			<div class="form-group position-relative">
				<label class="sr-only" for="amount">dollar amount</label>
				<span class="text-large position-absolute">$</span>
				<input ng-model="amount" type="number" class="form-control input-lg" name="amount" id="amount" placeholder="amount" required>
			</div>
			<div class="form-group">
				<label class="sr-only" for="description">description product or service</label>
				<input ng-model="description" type="text" class="form-control input-lg" name="description" id="description" placeholder="description product or service" required>
			</div>
			<!--<div class="form-group">
				<label class="sr-only" for="timepicker">transaction date</label>
				<div class="transaction-fancy-input-container position-relative">
					<button ng-click="showTimePicker=!showTimePicker" class="btn btn-default form-control input-lg">
						{{time | date:'h:mm'}}
					</button>
					<timepicker ng-model="time"
								type="time"
								class="transaction-time position-absolute panel panel-default"
								ng-class="{hidden: !showTimePicker}"
								name="timepicker"
								id="timepicker"></timepicker>
				</div>
			</div>
			<div class="form-group">
				<label class="sr-only" for="datepicker">transaction date</label>
				<div class="transaction-fancy-input-container position-relative">
					<button ng-click="showDatePicker=!showDatePicker" class="btn btn-default form-control input-lg">
						{{date | date:'M/dd'}}
					</button>
					<datepicker ng-model="date"
								ng-click="showDatePicker=false"
								type="date"
								class="transaction-date position-absolute panel panel-default"
								ng-class="{hidden: !showDatePicker}"
								name="datepicker"
								id="datepicker"></datepicker>
				</div>
			</div>-->

			<div class="form-group">
				<button type="submit" class="btn btn-primary form-control input-lg">Submit</button>
			</div>
		</form>
	</div>
</div>
<div class="container">
	<h2>Day's Summary</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-large">
				<td ng-class="{'text-danger': sum()<0, 'text-success': sum()>1}">
					${{sum()}}
				</td>
			</tr>
		</tbody>
	</table>
</div>
<ol class="list-group container">
	<li ng-repeat="transaction in transactions track by $index"
		class="list-group-item row transaction {{transaction.type}}"
			ng-class="{'text-danger': transaction.amount<0, 'text-success': transaction.amount>1}">
		<div class="col-sm-2">
			${{transaction.amount}}
		</div>
		<div class="col-sm-8">
			{{transaction.description}}
		</div>
		<div class="col-sm-2">
			{{transaction.timestamp | date:'h:mm on M/dd'}}
		</div>
	</li>
</ol>
