.text-large {
	font-size: 1.6em;
	line-height: 46px;
	margin-left: 4px;
}

.position-absolute {
	position: absolute;
}

.position-relative {
	position: relative;
}

.transaction-time {
	input[type="text"] {
		width: 100%;
	}
}

