<h1>Recurring Transactions</h1>
<table class="table">
	<thead>
		<tr>
			<th>Amount</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="transaction in recurringTransactions track by $index" ng-class="{'text-danger': sum()<0, 'text-success': sum()>1}">
			<td>{{transaction.amount}}</td>
			<td>{{transaction.description}}</td>
			<td>
				<button ng-click="removeRecurringTransaction($index)"
						role="button"
						class="btn btn-danger">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>
<form ng-submit="addRecurringTransaction()" class="form-inline add-transaction" role="form">

	<div class="form-group position-relative">
		<label class="sr-only" for="amount">dollar amount</label>
		<span class="text-large position-absolute">$</span>
		<input ng-model="amount" type="number" class="form-control input-lg" name="amount" id="amount" placeholder="amount" required>
	</div>
	<div class="form-group">
		<label class="sr-only" for="description">description product or service</label>
		<input ng-model="description" type="text" class="form-control input-lg" name="description" id="description" placeholder="description product or service" required>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary form-control input-lg">Submit</button>
	</div>
</form>
