.month {
	height: 100%;

	.week {
		height: percentage(1/6);

		.day {
			height: 100%;
			display: inline-block;
			margin-bottom: 0;
			background-color: rgba(255, 255, 255, 0.75);

			.heading {
				display: block;
				background-color: #eee;
			}

			.amount {
				font-size: 2em;
			}
		}

		.one-seventh {
			width: percentage(1/7);
		}

		.transparent {
			visibility: hidden;
		}
	}
}
