.month {
	height: 100%;

	.week {
		$percentage: percentage(1/6);
		$pixels: 33/6;
		height: calc(#{$percentage} - #{$pixels}px);
		min-height: 140px;

		.day {
			height: 100%;
			display: inline-block;
			margin-bottom: 0;
			background-color: rgba(255, 255, 255, 0.75);

			color: initial;
			text-decoration: initial;
			overflow: hidden;

			&:hover {
				.heading {
					background-color: #ddd;
				}
			}

			.heading {
				display: block;
				background-color: #eee;
			}

			.amount {
				font-size: 2em;
			}
		}

		.transparent {
			visibility: hidden;
		}
	}

	.one-seventh {
		width: percentage(1/7);
	}

	.week-label {
		background-color: #ccc;

		.day-label {
			display: inline-block;
		}
	}
}
