<div class="month">
	<div class="week-label">
		<h6 ng-repeat="day in daysOfTheWeek" class="one-seventh day-label text-center">
			{{day}}
		</h6>
	</div>
	<div ng-repeat="day in [0,1,2,3,4,5]" class="week">
		<a ng-repeat="iDay in [0,1,2,3,4,5,6]"
			 ng-init="iiDay = ((day * 7) + iDay) - dayOffset"
		   ui-sref="day({year: year,month:month,day:iiDay})"
			 ng-class="{transparent: iiDay < 1 || iiDay > daysInMonth}"
			 class="panel panel-default day one-seventh">
			<div class="heading">
				<div class="panel-heading">
					{{iiDay}}
				</div>
			</div>

			<div class="panel-body"
				 ng-class="{transparent: !days[iiDay]}">
				<div class="amount">
					${{days[iiDay].amount || 0}}
				</div>
				<small ng-class="{transparent: !days[iiDay].transactions}">
					{{days[iiDay].transactions}} transactions
				</small>
			</div>
		</a>
	</div>
</div>
